/viikko2/Verkkokauppa1/.nb-gradle/
/viikko2/Verkkokauppa1/build/

/viikko3/nhlreader/.nb-gradle/

/viikko3/HelloCucumber/.nb-gradle/
/viikko3/HelloCucumber/build/

/viikko3/WebLogin/.nb-gradle/
/viikko3/WebLogin/salasanat.txt
/viikko3/WebLogin/build/
/viikko3/WebLogin/.gradle/

/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MockitoDemo/build/
/viikko4/MockitoDemo/.gradle/

/viikko4/MaksukorttiMockito/.nb-gradle/
/viikko4/MaksukorttiMockito/build/
/viikko4/MaksukorttiMockito/.gradle/

/viikko4/Verkkokauppa/.nb-gradle/
/viikko4/Verkkokauppa/build/
/viikko4/Verkkokauppa/.gradle/

/viikko4/IntJoukkoSovellus/.nb-gradle/
/viikko4/IntJoukkoSovellus/build/
/viikko4/IntJoukkoSovellus/.gradle/
